{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Suburb</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!-- Bootstrap CSS -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <script src="{% static 'best_suburb/javascript/index.js' %}"></script>

    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <!-- Django's specific syntax for linking files -->
    <link rel="stylesheet" href="{% static 'best_suburb/css/style.css' %}">

</head>

<body>
    <div class="logo">
        <img src="" alt="">
        <div class="logo-title">
            <a href="{% url 'index' %}" style="text-decoration: none">
                <p>BEST</p>
                <p>SUBURB</p>
            </a>
        </div>
    </div>
    <div class="content-wrapper">
        <h1 class="midnight-express">
            Welcome to Best Suburb!
        </h1>
        <form action="{% url 'list' %}" method="post">
            {% csrf_token %}
            <div class="wrapper center">
                <div class="university-wrapper">
                    <input type="text" class="university" placeholder="Enter Your University Name" name="uni_name"
                        id="uni_name">
                    <div class="filter-btn center">
                        <button id="advanced-search" style="background-color: transparent; border: none;" type="button"
                            class="btn btn-primary grey" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="wrapper center">
                <button id="search" type="submit">Search</button>
                
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Filter</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <form action="{% url 'list' %}" method="post">
                            <div class="modal-body">
                                {% csrf_token %}
        
                                <div class="form-group">
                                    <input type="hidden" id="uni_name_advanced" name="uni_name" value="">
                                    <label for="RentPrice">Average Price</label>
                                    <div style="display: flex; padding: 10px;">
                                        <div style="margin-right: 5px;">
                                            <!-- <label>min:
                                                <input list="min1" name="rent_min" /></label>
                                            <datalist id="min1">
                                                <option value="10">
                                                <option value="20">
                                                <option value="30">
                                                <option value="40">
                                                <option value="50">
                                            </datalist> -->
                                            <label for="rent_min">min</label>
                                            <select id="rent_min" name="rent_min">
                                                <option value="-1" selected>Any</option>
                                                <option value="50">$50</option>
                                                <option value="75">$75</option>
                                                <option value="100">$100</option>
                                                <option value="125">$125</option>
                                                <option value="150">$150</option>
                                                <option value="175">$175</option>
                                                <option value="200">$200</option>
                                                <option value="225">$225</option>
                                                <option value="250">$250</option>
                                                <option value="275">$275</option>
                                                <option value="300">$300</option>
                                                <option value="325">$325</option>
                                                <option value="350">$350</option>
                                                <option value="375">$375</option>
                                                <option value="400">$400</option>
                                                <option value="425">$425</option>
                                                <option value="450">$450</option>
                                                <option value="475">$475</option>
                                                <option value="500">$500</option>
                                                <option value="525">$525</option>
                                                <option value="550">$550</option>
                                                <option value="575">$575</option>
                                                <option value="600">$600</option>
                                                <option value="625">$625</option>
                                                <option value="650">$650</option>
                                                <option value="675">$675</option>
                                                <option value="700">$700</option>
                                                <option value="725">$725</option>
                                                <option value="750">$750</option>
                                                <option value="800">$800</option>
                                                <option value="850">$850</option>
                                                <option value="900">$900</option>
                                                <option value="950">$950</option>
                                                <option value="1000">$1000</option>
                                                <option value="1100">$1100</option>
                                                <option value="1200">$1200</option>
                                                <option value="1300">$1300</option>
                                                <option value="1400">$1400</option>
                                                <option value="1500">$1500</option>
                                                <option value="1600">$1600</option>
                                                <option value="1700">$1700</option>
                                                <option value="1800">$1800</option>
                                                <option value="1900">$1900</option>
                                                <option value="2000">$2000</option>
                                                <option value="2500">$2500</option>
                                                <option value="2000">$2000</option>
                                                <option value="2500">$2500</option>
                                                <option value="3000">$3000</option>
                                                <option value="3500">$3500</option>
                                                <option value="4000">$4000</option>
                                                <option value="4500">$4500</option>
                                                <option value="5000">$5000</option>
                                                <option value="5500">$5500</option>
                                                <option value="6000">$6000</option>
                                                <option value="6500">$6500</option>
                                            </select>
                                        </div>
                                        <div>
                                            <!-- <label>max:
                                                <input list="max" name="rent_max" /></label>
                                            <datalist id="max" style="width: 100px;">
                                                <option value="10">
                                                <option value="20">
                                                <option value="30">
                                                <option value="40">
                                                <option value="50">
                                            </datalist> -->
                                            <label for="rent_max">max</label>
                                            <select id="rent_max" name="rent_max">
                                                <option value="-1" selected>Any</option>
                                                <option value="50">$50</option>
                                                <option value="75">$75</option>
                                                <option value="100">$100</option>
                                                <option value="125">$125</option>
                                                <option value="150">$150</option>
                                                <option value="175">$175</option>
                                                <option value="200">$200</option>
                                                <option value="225">$225</option>
                                                <option value="250">$250</option>
                                                <option value="275">$275</option>
                                                <option value="300">$300</option>
                                                <option value="325">$325</option>
                                                <option value="350">$350</option>
                                                <option value="375">$375</option>
                                                <option value="400">$400</option>
                                                <option value="425">$425</option>
                                                <option value="450">$450</option>
                                                <option value="475">$475</option>
                                                <option value="500">$500</option>
                                                <option value="525">$525</option>
                                                <option value="550">$550</option>
                                                <option value="575">$575</option>
                                                <option value="600">$600</option>
                                                <option value="625">$625</option>
                                                <option value="650">$650</option>
                                                <option value="675">$675</option>
                                                <option value="700">$700</option>
                                                <option value="725">$725</option>
                                                <option value="750">$750</option>
                                                <option value="800">$800</option>
                                                <option value="850">$850</option>
                                                <option value="900">$900</option>
                                                <option value="950">$950</option>
                                                <option value="1000">$1000</option>
                                                <option value="1100">$1100</option>
                                                <option value="1200">$1200</option>
                                                <option value="1300">$1300</option>
                                                <option value="1400">$1400</option>
                                                <option value="1500">$1500</option>
                                                <option value="1600">$1600</option>
                                                <option value="1700">$1700</option>
                                                <option value="1800">$1800</option>
                                                <option value="1900">$1900</option>
                                                <option value="2000">$2000</option>
                                                <option value="2500">$2500</option>
                                                <option value="2000">$2000</option>
                                                <option value="2500">$2500</option>
                                                <option value="3000">$3000</option>
                                                <option value="3500">$3500</option>
                                                <option value="4000">$4000</option>
                                                <option value="4500">$4500</option>
                                                <option value="5000">$5000</option>
                                                <option value="5500">$5500</option>
                                                <option value="6000">$6000</option>
                                                <option value="6500">$6500</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="CrimeRate">Crime Rate</label>
                                    <div style="display: flex; padding: 10px;">
                                        <div style="margin-right: 5px;">
                                            <!-- <label>min:
                                                <input list="min2" name="crime_rate_min" /></label>
                                            <datalist id="min2">
                                                <option value="10">
                                                <option value="20">
                                                <option value="30">
                                                <option value="40">
                                                <option value="50">
                                            </datalist> -->
                                            <label for="crime_rate_max">Max</label>
                                            <select id="crime_rate_max" name="crime_rate_max">
                                                <option value="-1" selected>Any</option>
                                                <option value="1000">1,000 criminal incident per 100,000 population</option>
                                                <option value="2000">2,000 criminal incident per 100,000 population</option>
                                                <option value="3000">3,000 criminal incident per 100,000 population</option>
                                                <option value="4000">4,000 criminal incident per 100,000 population</option>
                                                <option value="5000">5,000 criminal incident per 100,000 population</option>
                                                <option value="6000">6,000 criminal incident per 100,000 population</option>
                                                <option value="7000">7,000 criminal incident per 100,000 population</option>
                                                <option value="8000">8,000 criminal incident per 100,000 population</option>
                                                <option value="9000">9,000 criminal incident per 100,000 population</option>
                                                <option value="10000">10,000 criminal incident per 100,000 population</option>
                                                <option value="12000">12,000 criminal incident per 100,000 population</option>
                                                <option value="14000">14,000 criminal incident per 100,000 population</option>
                                                <option value="16000">16,000 criminal incident per 100,000 population</option>
                                                <option value="18000">18,000 criminal incident per 100,000 population</option>
                                                <option value="20000">20,000 criminal incident per 100,000 population</option>
                                                <option value="25000">25,000 criminal incident per 100,000 population</option>
                                                <option value="30000">30,000 criminal incident per 100,000 population</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="university">Distance to University</label>
                                    <div style="display: flex; padding: 10px;">
                                        <div style="margin-right: 5px;">
                                            <!-- <label>min:
                                                <input list="min3" name="distance_min" /></label>
                                            <datalist id="min3">
                                                <option value="10">
                                                <option value="20">
                                                <option value="30">
                                                <option value="40">
                                                <option value="50">
                                            </datalist> -->
                                            <label for="distance_min">Min</label>
                                            <select id="distance_min" name="distance_min">
                                                <option value="-1" selected>Any</option>
                                                <option value="1">1km</option>
                                                <option value="2">2km</option>
                                                <option value="3">3km</option>
                                                <option value="4">4km</option>
                                                <option value="5">5km</option>
                                                <option value="7">7km</option>
                                                <option value="10">10km</option>
                                                <option value="15">15km</option>
                                                <option value="20">20km</option>
                                                <option value="25">25km</option>
                                                <option value="30">30km</option>
                                                <option value="50">50km</option>
                                            </select>
                                        </div>
                                        <div>
                                            <!-- <label>max:<input list="max3" name="distance_max" /></label>
                                            <datalist id="max3" style="width: 100px;">
                                                <option value="10">
                                                <option value="20">
                                                <option value="30">
                                                <option value="40">
                                                <option value="50">
                                            </datalist> -->
                                            <label for="distance_max">Max</label>
                                            <select id="distance_max" name="distance_max">
                                                <option value="-1" selected>Any</option>
                                                <option value="1">1km</option>
                                                <option value="2">2km</option>
                                                <option value="3">3km</option>
                                                <option value="4">4km</option>
                                                <option value="5">5km</option>
                                                <option value="7">7km</option>
                                                <option value="10">10km</option>
                                                <option value="15">15km</option>
                                                <option value="20">20km</option>
                                                <option value="25">25km</option>
                                                <option value="30">30km</option>
                                                <option value="50">50km</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </form>
        <h2 class="midnight-express">
            Find your suitable suburb
        </h2>
        <p class="manatee">
            Recommend the most suitable suburb
        </p>
        <p class="manatee">
            according to your preferences and needs
        </p>
    </div>

    <div>
        <a href="{% url 'list' %}">sb</a>
    </div>

    <!-- Modal -->
    
    <!-- <script src="./js/index.js"></script> -->
    <!-- Django's specific syntax for linking files -->
</body>

</html>