{% extends "best_suburb/layout.html" %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Suburb</title>
    <!-- font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link rel="stylesheet" href="{% static 'best_suburb/css/style.css' %}">
    <!-- Django's specific syntax for linking files -->
    <script src="{% static 'best_suburb/javascript/jquery.range.js' %}"></script>
    <script src="{% static 'best_suburb/javascript/info.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="top-wrapper">
        <div class="logo">
            <img src="" alt="">
            <div class="logo-title">
                <a href="{% url 'index' %}" style="text-decoration: none">
                    <p>BEST</p>
                    <p>SUBURB</p>
                </a>
            </div>
        </div>
        <!--        <div class="prefix-search-combination">-->
        <!--            <div class="navbar bg-light" >-->
        <!--                <div class="navbar bg-light">-->
        <!--                    <i class="fa fa-search" aria-hidden="true"></i>-->
        <!--                </div>-->
        <!--                <nav class="navbar bg-light">-->
        <!--                    <div class="container-fluid">-->
        <!--                        <form class="row g-2">-->
        <!--                            <div class="col-auto">-->
        <!--                                <input class="form-control" type="text" placeholder="Search other university" aria-label="default input example">-->
        <!--                            </div>-->
        <!--                            <div class="col-auto">-->
        <!--                                <button class="btn btn-outline-primary" type="submit">Search</button>-->
        <!--                            </div>-->
        <!--                    -->
        <!--                        </form>-->
        <!--                    -->
        <!--                    </div>-->
        <!--                </nav>   -->
        <!--            </div>-->
        <!--        </div>-->
    </div>


    <div class="suburb-image">
        <div class="row">
            <div class="col-auto">
                <!-- <img style="border-radius: 100px" src="{% static 'best_suburb/images/suburb.png' %}" alt="Inforsuburb"
                    width="700" height="400"> -->
                <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-indicators">
                        {% for photo in suburb.photos %}
                        {% if forloop.first%}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                            class="active" aria-current="true" aria-label="Slide 1"></button>
                        {% else %}
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                            aria-label="Slide 2"></button>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="carousel-inner">
                        {% for photo in suburb.photos %}
                        {% if forloop.first%}
                        <div class="carousel-item active">
                            <img src="{{photo}}" class="d-block w-70" alt="..." style="width:550px;height:320px">
                        </div>
                        {% else %}
                        <div class="carousel-item">
                            <img src="{{photo}}" class="d-block w-70" alt="..."style="width:550px;height:320px">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            
            <div class="col-auto">
                <div>
                    <h2>{{ suburb.name }}</h2>
                </div>

                <div class="Facility">
                    <h2>Facility</h2>
                </div>
            </div>
            <div class="col-auto">
                <div class="row" style="padding-top: 10px;">
                    <div class="col-auto">
                        <img src="{% static 'best_suburb/images/location icon.png' %}" alt="location icon" width="20"height="20">
                    </div>
                    <div class="col-auto">
                        <div>{{suburb.name}}, {{suburb.postcode}}</div>
                    </div>
                    <div class="col-auto">
                        <div>{{suburb.latitude}}&#176;{{suburb.hemisphere_latitude}},{{suburb.longitude}}&#176;{{suburb.hemisphere_longitude}}</div>
                    </div>
                </div>
                <div class="suburb-info">
                    <!--<ul class="list-inline">
                    <li class="list-inline-item">Crime rate: {{suburb.crime_rate}}</li>
            
                    <li class="list-inline-item">Distance from school: {{suburb.average_rent}}m</li>
                  </ul>-->
            
                    <div class="row">
                        <p>Crime rate: {{suburb.crime_rate}}</p>
                        <p>Distance from school: {{suburb.distance}} km</p>
                    </div>
                    <div class="row">
            
                        <p>Average Rent: ${{suburb.average_rent}}/per week</p>
            
            
                        <div class="col-auto">
                            <p>Public transport access to univerisity: None</p>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2 style="padding-left:100px;padding-top:50px">Suburb Data</h2>
    <div class="row">
        <div class="col-auto">
            <div class="chart" >
                <p>
                    <div style="width:400px;height:280px">
                    {{crime_char|safe}}
                    </div>
                </p>
            </div>
        </div>
        
        <div class="col-auto">
            <div class="recome_chart">
                <p>{{recom_char|safe}}</p>
    
            </div>
        </div>
    </div>

    
    <h3 style="padding-left:100px;padding-top:50px">Add the most traveled places to see transport availability</h3>
    



    {% comment %} <div class="container" style=" left:80px; top:850px;">
        <table class="_table">
            <thead>
                <tr>
                    <th>Most Traveled Places</th>
                    <!-- <th>Phone</th>
                  <th>Address</th> -->
                    <th width="50px">
                        <div class="action_container">
                            <button class="success" onclick="create_tr('table_body')">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </th>
                </tr>
            </thead>
            <tbody id="table_body">
                <form>
                    <tr>
                        <td>
                            <input list="places" id="place" autocomplete="off" autofocus placeholder="To: " type="text">
                            <datalist id="places">

                            </datalist>
                        </td>
                        <td>
                            <input id="submit" type="submit">
                        </td>
                    </tr>
                </form>

                <!-- <td>
                    <div>
                        <input type="text" class="form_control" placeholder="To:" id="place">
                        <ul id="results">
                        </ul>
                    </div> -->

                <!-- </td>
                  <td>
                    <input type="text" class="form_control" placeholder="+880177x-xxxxxx">
                  </td>
                  <td>
                    <textarea class="form_control" placeholder="Enter Your Address..."></textarea>
                  </td> -->
                <td>
                    <div class="action_container">
                        <button class="danger" onclick="remove_tr(this)">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                </td>
                </tr>
            </tbody>
        </table>
    </div> {% endcomment %}

<div class="travel-place">
    <div class="container">
        <table class="_table">
            <thead>
                <tr>
                    <div>
                        <div >
                            <label class="place-text">To:</label>
                        </div>
                        <div>
                            <div class="input-group mb-3">
                                <input type="text" list="locations" class="form-control" placeholder="location address" aria-label="location address">
                                <datalist id="locations">
                                    <option value="San Francisco">
                                    <option value="New York">
                                    <option value="Seattle">
                                    <option value="Los Angeles">
                                    <option value="Chicago">
                                </datalist>
                                <button class="btn btn-outline-primary" type="button" id="add-location" onclick="create_tr('table_body')">Add location</button>
                            </div>
                        </div>
                    </div>
                </tr>
            </thead>
            <tbody id="table_body">
                <tr>
                  <td>
                    <div class="form-class">
                        <div class="form-item">
                            <div class="border border-primary p-2 mb-2" style="width:500px; border-radius:5px">54 mins via bus 601</div>
                        </div>
                        <div class="form-item">
                      
                            <button class="btn btn-danger" style="height:42px" type="button" id="add-location" onclick="remove_tr(this)">Remove</button>
                        </div>
                    </div>
                    
                  </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
    

    
    {% endblock %}  


</body>