{% extends "best_suburb/layout.html" %}
{% block body %}
{% load static %}
<img class="logo" src="{% static 'best_suburb/logo.png' %}" alt="" width="135" height="60">
<div class="container-fluid" style="position:fixed; left:10px; top:90px;">




    <form class="d-flex" role="search" action="listpage.html">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>


</div>

<!-- <div class = "Searchbar">
            <form action = "" class = "SearchBar">
                <input type = "text" placeholder="Search suburbs for other university" name = "q">
                <button type = "submit"></button>
            </form>>
        </div> -->


<div style="position:fixed; left:80px; top:135px;">
    <p> </p>
    <img src="{% static 'best_suburb/suburb.png' %}" alt="Inforsuburb" width="700" height="400">
</div>


<div style="position:fixed; left:80px; top:590px;">
    <h3>{{sub_id}}</h3>
</div>

<div style="position:fixed; left:80px; top:630px;">
    <img src="{% static 'best_suburb/location icon.png' %}" alt="location icon" width="30">
</div>

<div style="position:fixed; left:120px; top:635px;">
    <p>{{sub_id}} - {{sub_postcode}}，{{sub_city}}</p>
</div>



<div class="Facility" style="position:fixed; left:80px; top:670px;">
    <h4>Facility</h4>
</div>
<div style="position:fixed; left:80px; top:720px;">

    <body>Crime rate: {{sub_crime_rate}}%</body>
</div>
<div style="position:fixed; left:380px; top:720px;">

    <body>Distance from school: {{distance}}m</body>
</div>
<div style="position:fixed; left:80px; top:750px;">

    <body>Average Rent: ${{sub_aver_rent}}/pre week</body>
</div>
<div style="position:fixed; left:380px; top:750px;">

    <body>Public transport access to univerisity: {{have_transport}}</body>
</div>
<div style="position:fixed; left:80px; top:780px;">
    <h3>Add the most traveled places to see transport availability</h3>
</div>
<div style="position:fixed; left:930px; top:140px;">
    <p>{{char|safe}}</p>
</div>
<div style="position:fixed; left:1200px; top:700px;">
    <img src="{% static 'best_suburb/Average rent in clayton.png' %}" alt="Average rent in clayton" width="550">
</div>

<div class="container" style="position:fixed; left:80px; top:850px;">
    <table class="_table">
        <thead>
            <tr>
                <th>Most Traveled Places</th>
                <!-- <th>Phone</th>
                  <th>Address</th> -->
                <th width="50px">
                    <div class="action_container">
                        <button class="success" onclick="create_tr('table_body')">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody id="table_body">
            <tr>
                <td>
                    <input type="text" class="form_control" placeholder="To:">
                    <!-- </td>
                  <td>
                    <input type="text" class="form_control" placeholder="+880177x-xxxxxx">
                  </td>
                  <td>
                    <textarea class="form_control" placeholder="Enter Your Address..."></textarea>
                  </td> -->
                <td>
                    <div class="action_container">
                        <button class="danger" onclick="remove_tr(this)">
                            <i class="fa fa-close"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

{% endblock %}