{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Best Suburb</title>
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <!-- Django's specific syntax for linking files -->
     <link rel="stylesheet" href="{% static 'best_suburb/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>
    
    <!-- <link rel="stylesheet" href="./css/jquery.range.css"> -->
    <!-- Django's specific syntax for linking files -->

    <!-- <script src="./js/jquery.range.js"></script> -->
    <!-- Django's specific syntax for linking files -->
    <script src="{% static 'best_suburb/javascript/jquery.range.js' %}"></script>
</head>

<body style="width: 100vw; height: 100vh;">
    <div class="top-wrapper">
        <div class="logo">
            <img src="" alt="">
            <div class="logo-title">
                <a href="{% url 'index' %}" style="text-decoration: none;">
                    <p>BEST</p>
                    <p>SUBURB</p>
                </a>
            </div>
        </div>
        <div class="prefix-search-combination">
            <div class="combination-prefix-item">
                <i class="fa fa-search" aria-hidden="true"></i>
            </div>
            <form class="row g-3" action="{% url 'list' %}" method="post">
                {% csrf_token %}
                <div class="col">
                    <!-- <input type="text" class="combination-search-item" placeholder="Search Another University"
                    name="uni_name" id="uni_name"> -->
                    <select class="form-select combination-search-item" id="uni" name="uni">
                        {% for university in universities %}
                        <option value="{{ university.id }}">{{ university.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <div class="filter-btn center">
                        <button id="advanced-search" style="background-color: transparent; border: none;" type="button"
                            class="btn btn-primary grey" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="fa fa-bars" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <div class="col">
                    <button id="search" type="submit" style="width:100px">Search</button>
                </div>
            </form>
            </div>
        </div>
    </div>

    <div class="content-wrapper2">
        {% comment %} <div class="drop-down-wrapper">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Rent&nbsp;&nbsp;|&nbsp;&nbsp;Lower than $500 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li style="padding: 25px;">
                        <input type="hidden" value="0, 80" id="rentRate" class="slider-input" />
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Distance to University&nbsp;&nbsp;|&nbsp;&nbsp;Lower than 5km <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li style="padding: 25px;">
                        <input type="hidden" value="0, 80" id="universityRate" class="slider-input" />
                    </li>
                </ul>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Crime Rate&nbsp;&nbsp;|&nbsp;&nbsp;Lower than 10% <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li style="padding: 25px;">
                        <input type="hidden" value="0, 80" id="rangeCrimeRate" class="slider-input" />
                    </li>
                </ul>
            </div>
        </div> {% endcomment %}
        
        <div class="list">
            {% for suburb in suburbs %}
            <a href="/info?name={{ suburb.name }}">
            <!-- <a href="/info?suburb={{ suburb.id }}"> -->
                <div class="item" >
                    <img id="image" src="https://img95.699pic.com/photo/50149/6896.jpg_wh860.jpg" alt="{{ suburb.name }}">
                    <div>
                        <p id="name" class="midnight-express">{{ suburb.name }}</p>
                        <p class="grey">
                            <i class="fa fa-map-marker midnight-express" aria-hidden="true"></i>
                            {{ suburb.state }}&nbsp;
                            <span id="postcode" class="distance">
                                {{ suburb.postcode }}
                            </span>
                        </p>
                        <p id="crime_rate" class="text-right">
                            Crime Rate:&nbsp;{{ suburb.crime_rate }}
                        </p>
                        <p id="average_rent" class="text-right">
                            Average Rent: ${{ suburb.average_rent }}/per week
                        </p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $('.slider-input').jRange({
                from: 0,   				//滑块范围的初始值
                to: 80,    				//滑块范围的终止值
                step: 1,   				//设置步长
                scale: [0, 20, 40, 60, 80], //滑动条下方的尺度变标签
                format: '%s',  			//数值格式
                width: 200, 			//进度条的宽度
                showLabels: true,  		//是否显示滑动条下方的尺寸标签
                showScale: true,  		//是否显示滑块上方的数值标签
                isRange: true,     		//是否为选取范围
                onstatechange: function (e) {    //滑块范围改变时触发的方法
                    console.log(e);
                }
            });

            $('.slider-input').jRange('setValue', '25, 50');  //滑块赋值
        });


    </script>
</body>

</html>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>