{% extends "best_suburb/layout.html" %}
{% block body %}
{% load static %}
<ul>
    <img class="logo" src="{% static 'best_suburb/logo.png' %}" alt="" width="200" height="100">

    <form class="d-flex" role="search" action="{% url 'list' %}">
        <input class="form-control me-2" type="search" placeholder="Search suburbs for other university"
            aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</ul>

<br>
<br>
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <a class="nav-link" href="{% static 'best_suburb/mappage.html' %}">MAP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'list' %}">LIST</a>
    </li>
</ul>
<br>
<ul class="nav nav-pills nav-fill">
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenurent"
                data-bs-toggle="dropdown" aria-expanded="false">
                Rent price
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="">
                <li> <input class="dropdown-item" value="more than 500$ peer week" id=500> </li>
                <li> <input class="dropdown-item" value="400-500$ peer week" id=450> </li>
                <li> <input class="dropdown-item" value="300-400$ peer week" id=350> </li>
                <li> <input class="dropdown-item" value="less than 300$ peer week" id=300> </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenudistance"
                data-bs-toggle="dropdown" aria-expanded="false">
                Distance to university
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="">
                <li> <input class="dropdown-item" value="less than 10km" id=10> </li>
                <li> <input class="dropdown-item" value="5-10km" id=7> </li>
                <li> <input class="dropdown-item" value="3-5km peer week" id=3> </li>
                <li> <input class="dropdown-item" value="less than 3km" id=2> </li>
            </ul>
        </div>
    </li>
    <li class="nav-item">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenucrime"
                data-bs-toggle="dropdown" aria-expanded="false">
                Crime Rate
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1" style="">
                <li> <input class="dropdown-item" value="less than 10km" id=10> </li>
                <li> <input class="dropdown-item" value="5-10km" id=7> </li>
                <li> <input class="dropdown-item" value="3-5km peer week" id=3> </li>
                <li> <input class="dropdown-item" value="less than 3km" id=2> </li>
            </ul>
        </div>
    </li>
</ul>


<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for suburb in suburbs %}
    <div class="col">
        <div class="card h-100" style="width: 20rem;">
            <img src="{% static 'best_suburb/suburb.png' %}" class="card-img" alt="">
            <div class="card-body">
                <h5 class="card-title">{{suburb.name}}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <p style="font-size: 10px">Crime Rate: {{suburb.crime_rate}}</p>
                <p style="font-size: 10px">Average Rent: {{suburb.average_rent}}$ per week</p>
                <a href="{% url 'info' %}" class="btn btn-primary">Suburb detail</a>
            </div>
        </div>
    </div>
    {% endfor %}





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>

    {% endblock %}