*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
.SearchBar{
    width:100%;
    max-width:700px;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
}